@import "../abstracts/mixins";
@import "../abstracts/variable";

.carousel {
    width: 100vw;
    display: flex;
    align-items: center;

    img {
        position: absolute;
    }
    .text-carousel {
        @include relative-content-left;
        background: map-get($background, "main");
        font-size: map-get($text-size, "title");
        font-weight: map-get($font, "title");
        color: map-get($color, "light");
        width: 30%;
        height: 30%;
        padding: 2rem;
        margin: 3rem;
    }
}
