@use "../abstracts/variable";
@import "../abstracts/mixins";
@import "../abstracts/variable";

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: map-get($background , 'main' );
    padding-top:1rem ;
    width: 100vw;
    height: 18vh;
    
    .container{
        @include space-around-flexbox;
        border-bottom: .12rem solid black;
        padding: 1rem;

    .social-media{
        display: flex;
        flex-direction: row;
        gap: 3rem;

        a{
            padding: .7rem 1rem;

            background-color: map-get($color, "light" );
            border-radius: 50%;
            color: map-get($background-button, "main");
            margin-top:.1rem;
            text-align: center;
            transition: all 0.4s ease 0s;
        
        &:hover {
            color: map-get($color, "dark-hover");
            box-shadow: map-get($button-box-shadow, "shadow");
        }
        }
    }

    .verticalLine {
        border-left: .1rem solid black;
        height: 5vh;
        left: 50%;
        margin-left: -3px;
        top: 0;
        
    }
    
    .anchorFooter{ 
        @include space-between-flexbox;
        a{  
            color: map-get($color, "light");
            font-family: variable.$footer-font;
            font-size: map-get($text-size , "subtitle" );
            font-weight: map-get($font, "title");
            letter-spacing: 2px;
            transition: all 0.4s ease 0s;
        &:hover {
            color: map-get($color, "dark-hover");
            box-shadow: map-get($button-box-shadow, "shadow");
        } 
        }
    
    }
    
}
    div p {
        color:map-get($color, "light");
    }
}