@use "../abstracts/variable";
@import "../abstracts/mixins";
@import "../abstracts/variable";

header {
  @include space-between-flexbox;
  flex-direction: row;
  background: map-get($background, "main");
  width: 100vw;
  height: 12vh;

  .logo{
    h1 a {
      font-family: variable.$header-font;
      color: map-get($color, "brown" );
      font-size: 1.2em;
      font-weight: map-get($font, "logo");
    }
    @include center-flexbox;
    img{
      width: 12vh;
      height: 12vh;
    }
  }

  nav {
    @include center-flexbox;
    font-size: 1.2rem;
    flex-direction: row;
    margin: 0 4rem;
    gap: 3rem;

    a {
      color: map-get($color, "brown");
      font-family: variable.$nav-font;
      font-weight: map-get($font, "subtitle");
      transition: all 0.4s ease 0s;

      &:hover {
        color: map-get($color, "dark-hover");
        box-shadow: map-get($button-box-shadow, "shadow");
      }
    }
  }

  // h1 {
  //   color: map-get($color, "light");
  //   margin: 0;
  //   font-weight: map-get($font, "logo") !important;

  //   a {
  //     color: map-get($color, "light");
  //   }
  // }
}
