@import "../abstracts/mixins";
@import "../abstracts/variable";

header {
  @include space-between-flexbox;
  flex-direction: row;
  background: map-get($background, "main");
  width: 100vw;
  height: 15vh;

  nav {
    @include center-flexbox;
    font-size: map-get($text-size, "subtitle");
    flex-direction: row;
    margin: 0 3rem;

    a {
      text-transform: uppercase;
      color: map-get($color, "light");
      font-weight: map-get($font, "title");
      letter-spacing: 2.5px;
      transition: all 0.4s ease 0s;

      &:hover {
        color: map-get($color, "dark-hover");
        box-shadow: map-get($button-box-shadow, "shadow");
      }
    }
  }

  h1 {
    color: map-get($color, "light");
    margin: 0 3rem;
    font-weight: map-get($font, "logo") !important;

    a {
      color: map-get($color, "light");
    }
  }
}
